body{
    /* max-width: 500px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

.container{
    height: 100vh;
    width: 100%;
    background: #673AB7;  /* fallback for old browsers */
    background: linear-gradient(to right, #512DA8, #673AB7);
}

h1{
    text-align: center;
    padding:40px;
    color:white;
    font-weight: 100px;
}

input{
    margin-left: 33%;
    padding: 25px;
    width: 400px;
    height: 30px;
    font-size: 32px;
    border: 1px solid darkslateblue;

}

li{
    list-style: none;
    font-size: 30px;
    margin-left: 31%;
    margin-top: 5px;
    background-color: skyblue;
    padding: 5px;

    width: 450px;
    border: 3px dotted white;

}

li:hover{
    text-decoration: line-through;
}